<!-- HEADER2 -->
<div class="header2" id="header" >
  <div class="row-fluid">
    <div class="span4">
      <a href=""><img class="hlogo" src="/assets/logo_sign.png" alt=""></a>
      <h1 class="elipsis">
        <a id="game-name" data-text="model.name" data-title="model.name" href="" title="">
          <%= @game.name %>
        </a>
      </h1>
    </div>
    <div class="span8 nest">
      <ul class="header-navigation">
        <%= content_tag :li, class: current_page?(link_path=admin_path(parent_id: @parent.try(:id) || @game.id, select_id: @select_id || 0)) ? 'active' : nil do %>
          <%= link_to t('games.builder'), link_path, id: "designer-link" %>
          <div class="palka"></div>
        <% end %>
        <%= content_tag :li, class: current_page?(link_path=play_game_path(game_id: @game.id)) ? 'active' : nil do %>
          <%= link_to t('games.testing'), link_path, target: "_blank", id: "test-link" %>
          <div class="palka"></div>
        <% end %>
        <%= content_tag :li, class: current_page?(link_path=embed_game_path(@game.id)) ? 'active' : nil do %>
          <%= link_to t('games.embed'), link_path, id: "embed-link" %>
          <div class="palka"></div>
        <% end %>
        <%= content_tag :li do %>
          <%= link_to t('games.clone'), clone_game_path(@game.id), id: "clone-link", method: :post %>
          <div class="palka"></div>
        <% end %>
      </ul>
      <a id="reload" href="" class="refresh pull-right pull-lower10"></a>
    </div>
  </div>
</div>
