<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <title><%= @game.name %> – Interactiff</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <%= favicon_link_tag 'favicon.ico' %>
  <%= stylesheet_link_tag "play" %>
  <%= javascript_include_tag "play" %>
  <%= csrf_meta_tags %>
  <!--[if lte IE 8]>
  <%= stylesheet_link_tag "play-ie" %>
  <![endif]-->

</head>
<body class="show">
</script>
  <div class="container">
    <h1><%= @game.name %></h1>
    <div class="row-fluid">
      <div class="span2 tasks-column">
        <h2>Список заданий</h2>

        <input type="radio" class="task-type-switch" name="tasks-filter" id="all-tasks">
        <input type="radio" class="task-type-switch" name="tasks-filter" id="current-tasks" checked>
        <input type="radio" class="task-type-switch" name="tasks-filter" id="completed-tasks">

          <label class="tab first-tab" for="all-tasks">Все</label>
          <label class="tab second-tab" for="current-tasks">Текущие</label>
          <label class="tab third-tab" for="completed-tasks">Выполненные</label>

        <ul class="tasks-list">
          <% for task in @handler.play_tasks %>
            <li class="<%="active " if task==@task%><%= if task.passed then "done" else "common" end %>"><%= link_to task.name, play_show_path(task_id: task.id, game_id: @game.id) %></li>
          <% end %>
        </ul>
      </div>

      <div class="span7">
        <div class="window">
          <% if flash[:messages] %>
            <% for message in flash[:messages] %>
              <% next if message[:message].empty? %>
              <div class="alert alert-<%= message[:message_type] %>">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <%= message[:message] %>
              </div>
            <% end %>
          <% end %>
          <% if flash[:alert] %>
            <div class="alert alert-error">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              <%= flash[:alert] %>
            </div>
          <% end %>
          <h2><%= @task.name %></h2>


          <%= form_tag play_submit_path(task_id: @task.id) do %>
            <dl class="row-fluid game-tasks">
              <% @handler.hints_given.zip(@handler.hint_events).each do |hint,event| %>
                <% next if hint.body.empty? %>
                <dt class="span2"><%=raw(l(event.time,format: :dmy)+"<br/>") if event.time<Date.today %><%= l event.time, format: :hms %></dt>
                <dd class="span10"><%= raw hint.body_with_vars(game: @game, user: current_user, handler: @handler) %></dd>
              <% end %>
              <% if @task.passed %>
                <p>Вы уже прошли это задание</p>
              <% elsif @task.input_type=="link" %>
                <dt class="span2 bolder">Ответ</dt>
                <dd class="span10 answers">
                  <ul class="unstyled">
                    <% for answer in @handler.task_answers %>
                    <% bwv=answer.body_with_vars(game: @game, user: current_user, handler: @handler) %>
                      <li><%= link_to raw(bwv),
                                          play_submit_path(task_id:@task.id, input: raw(answer.digest))
                                          %></li>
                    <% end %>
                  </ul>
                </dd>
              <% elsif @task.input_type=="text" %>
                <dt class="span2 bolder">Ответ</dt>
                <dd class="span10 answers">
                  <%= text_field_tag "input" %>
                </dd>
              <% end %>
            </dl>
            <% unless @task.input_type=="link" || @task.input_type=="none" %>
              <div class="align-right"><button class="btn btn-success">Отправить</button></div>
            <% end %>
          <% end %>


        </div>
      </div>



    </div>

  <div class="footer center-me">
    Powered by <%= link_to "Interactiff", "https://interactiff.net" %>
  </div>
  </div>
</body>
