<%title "Новости"%>
<div class="container news-list">
  <h1>Новости</h1>
  <% content_for :meta, auto_discovery_link_tag(:rss, refinery.news_items_url(:format => 'rss')) %>
  <% content_for :body_content_left do %>
  <%=raw @page.content_for(Refinery::Pages.default_parts.first.to_sym) unless params[:page] %>
  <div class="row-fluid">
    <% @items.each do |item| %>
      <div class="span6 news-thumb">
          <p class="date"><%= l(item.publish_date, :format => :long) %></p>
          <h3><%= item.title %></h3>
          <div class="content">
            <%= truncate  item.body, :length => 200,
                      :omission => " ... #{link_to t('.read_more'), refinery.news_item_path(item)}",
                      :preserve_html_tags => true %>
          </div>
      </div>
    <% end %>
  </div>
  <%= will_paginate @items %>
  <% end -%>

  <%= render :partial => "/refinery/content_page" %>
</div>
