<%= simple_form_for @game, html: { class: "new-quest" } do |f| %>
  <%=f.input :cover %>
  <%=f.input :name, label: false, placeholder: t('games.name_placeholder'), input_html: {autofocus: true} %>
  <%=f.input :category, label:false, required: true %>
  <button class="btn btn-green"><%=t('games.submit')%></button>
<%end%>
