<%-content_for :body_class do "admin designer background" end %>
<%- title t('games.index') %>
<% content_for :js do javascript_include_tag "application" end %>
<div class="allwrap">
<%= render "admin/navigation_bar" %>
  <!-- HEADER2 -->
  <div class="header2" id="header" >
    <div class="row-fluid">
      <div class="span4">
        <a href=""><img class="hlogo" src="/assets/logo_sign.png" alt=""></a>
        <h1 class="elipsis">
          <a id="game-name" data-text="model.name" data-title="model.name" href="" title=""><%=t('games.index')%></a>
        </h1>
      </div>
    </div>
  </div>
  <div class="editor-content editor">
    <div class="editor">
      <% active = @games.blank? ? 'active' : '' %>
      <button class="btn-toggle movetoheader <%=active%>" data-toggle="new-quest">
        <i class="icon-plus"></i> <%=t('games.create_quest')%>
      </button>
      <div id="nq" class="white-panel <%=active%>">
        <% @game = Game.new %>
        <%= render 'form' %>
      </div>
      <ul class="quest-list">
        <% for game in @games %>
          <li>
            <div class="pic" style="">
              <% if game.cover.present? %>
                <%=image_tag game.cover_url(:thumb)%>
              <% end %>
            </div>
            <div class="desc">
              <h3><%=link_to game.name, main_app.admin_path(parent_id: game.id, select_id: 0)%></h3>
              <p class="category"><%=t("enumerize.game.category.#{game.category}")%></p>
              <div class="stars r4-5"></div>
              <p class="last-edit"><%=t('games.last_update')%> <%= game.updated_at.strftime("%d.%m.%Y") %></p>
            </div>
            <div class="button-panel">
              <%= link_to t('games.builder'), main_app.admin_path(parent_id: game.id, select_id: 0), class: "btn" %>
              <%= link_to t('games.timeline'), timeline_game_path(game.id), class: "btn" %>
              <%= link_to t('games.testing'), play_game_path(game_id: game.id), class: "btn", target: "_blank"%>
              <%= link_to t('games.delete'), game_path(id: game.id), method: :delete, confirm: t('games.delete_confirm'), class: 'btn-super-flat' %>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="push"></div>
</div>
<%=render 'admin/footer'%>
