<div class="allwrap">
  <%=render 'admin/header'%>
  <div class="editor-content editor">
    <div class="editor">
      <input type="checkbox" id="toggle-new-quest-panel" class="hidden-cb">
      <label for="toggle-new-quest-panel" class="btn-toggle movetoheader">
        <span class="i">+</span> Создать квест
      </label>

      <div id="nq" class="white-panel">
        <form action="" class="new-quest">
          <label for="ph"></label>
          <input type="file" id="ph" placeholder="Введите название">
          <input type="text" placeholder="Введите название">
          <select placeholder="Выберите категорию" class="m240">
            <option>Название категории</option>
            <option>Категория 2</option>
            <option>Категория 3</option>
          </select>
          <button class="btn btn-green">Создать</button>
        </form>
      </div>

      <ul class="quest-list">
        <% for game in @games %>
<!--           <div class="span4 game-card">
            <img class="game-pic" width="100" height="100" src="/assets/logo-snake.png">
            <div class="game-data">
              <h3><a href=""><%= game.name %></a></h3>
              <p class="category">beta testing</p>
              <div class="stars"></div>
              <%= link_to t('games.play'), play_game_path(game_id: game.id), class: "btn", target: "_blank" %>
              &nbsp;
              <%= link_to t('games.edit'), main_app.admin_path(parent_id: game.id, select_id: 0), class: "btn" %>
              &nbsp;
              <%= link_to t('games.reset'), main_app.reset_game_path(id: game.id), class: "btn", method: "post", confirm: t('games.reset_confirm') %>
              <br/>&nbsp;
              <div>
                <%= link_to t('games.delete'), game_path(id: game.id), method: :delete, confirm: t('games.delete_confirm') %>
              </div>
            </div>
          </div> -->
          <li>
            <div class="pic" style=""></div>
            <div class="desc">
              <h3><a href=""><%= game.name %></a></h3>
              <p class="category"><%= game.category %></p>
              <div class="stars r4-5"></div>
              <p class="last-edit">Последнее редактирование: <%= game.updated_at.strftime("%d.%m.%Y") %></p>
            </div>
            <div class="button-panel">
              <!--<a href="" class="btn">Мониторинг</a>
              <a href="" class="btn">Статистика</a>-->
              <%= link_to "Конструктор", main_app.admin_path(parent_id: game.id, select_id: 0), class: "btn" %>
              <%= link_to "Тестирование", play_game_path(game_id: game.id), class: "btn"%>
              <%= link_to t('games.delete'), game_path(id: game.id), method: :delete, confirm: t('games.delete_confirm'), class: 'btn-super-flat' %>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="push"></div>
</div>

<div class="footer2">
  <ul>
    <li><a href="">Главная</a></li>
    <li><a href="">Магазин</a></li>
    <li><a href="">Мои квесты</a></li>
    <li><a href="">Документация</a></li>
    <li><a href="">Новости</a></li>
  </ul>
</div>
</body>
</html>