<head>
  <meta charset='<%= Rails.application.config.encoding %>' />
  <title><%= yield(:title) %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= raw %(<link rel="canonical" content="#{@canonical}" />) if @canonical.present? -%>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= csrf_meta_tags -%>
  <%= yield :meta %>
  <link rel="alternate" hreflang="x-default" href="<%=rlink.url_for skip_locale: true, locale: nil%>" />
  <link rel="alternate" hreflang="ru" href="<%=rlink.url_for locale: :ru%>" />
  <link rel="alternate" hreflang="en" href="<%=rlink.url_for locale: :en%>" />

  <%= stylesheet_link_tag "application" %>
  <%= yield :stylesheets %>

  <script type="text/javascript">locale="<%= params[:locale] %>";</script>
</head>
