!!! 5
%html
  %head
    %title=browser_title(yield(:head_title))
    = stylesheet_link_tag    "application"
    = stylesheet_link_tag    "admin"
    = yield :js
    = csrf_meta_tags
    %script
      locale = "#{params[:locale]}";
  %body{class: yield(:body_class)}
    =yield
