<!DOCTYPE html>
<html lang="<%= ::I18n.locale %>">
  <% site_bar = render('/refinery/site_bar', :head => true) -%>
  <%= render '/refinery/head' %>
  <body class="<%= yield :body_class %>">
    <%= site_bar -%>
    <div class="allwrap">
      <div class="blue-wrap header">
        <div class="container">
          <%= render '/refinery/header' -%>
          <%= yield :blue_wrap %>
        </div>
      </div>

      <section class="container <%= yield :container_class %>">
        <% if  notice %>
          <div class="alert alert-success">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <%= notice %>
          </div>
        <% end %>
        <% if  alert %>
          <div class="alert alert-error">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <%= alert %>
          </div>
        <% end %>
        <%= yield %>
      </section>
      <div class="push"></div>
    </div>
    <%= render '/refinery/footer' -%>

  </body>
</html>
