<!DOCTYPE html>
<html lang="<%= ::I18n.locale %>">
  <%= render '/refinery/head' %>
  <body class="<%= yield :body_class %>">
    <div class="allwrap">
      <div class="blue-wrap header">
        <div class="container">
          <%= render '/refinery/header' -%>
          <%= yield :blue_wrap %>
        </div>
      </div>

        <% if  notice %>
          <div class="container alert alert-success">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <%= notice %>
          </div>
        <% end %>
        <% if  alert %>
          <div class="container alert alert-error">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <%= alert %>
          </div>
        <% end %>

      <%= yield %>
      <div class="push"></div>
    </div>
    <%= render '/refinery/footer' -%>

  </body>
</html>
