!!! 5
%html
  %head
    %title= browser_title(yield(:head_title))
    = stylesheet_link_tag    "application"
    = stylesheet_link_tag    "admin"
    = javascript_include_tag "application", "/wymeditor/jquery.wymeditor.min.js"
    = csrf_meta_tags unless response.cache_control[:public]
    %script
      locale = "#{params[:locale]}";
  %body.admin.designer.background
    =yield
